name: Terraform Plan

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  plan:
    runs-on: ubuntu-latest

    permissions:
      contents: "read" # リポジトリのコードを checkout するために必要
      id-token: "write" # WIF で Google Cloud にアクセスするための OIDC トークン発行用

    steps:
      - uses: actions/checkout@v5

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: "projects/${{ secrets.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "terraform-sa@${{ secrets.PROJECT_ID }}.iam.gserviceaccount.com"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./infra
        run: terraform init

      - name: Terraform Plan
        working-directory: ./infra
        env:
          TF_VAR_project_id: ${{ secrets.PROJECT_ID }}
          TF_VAR_region: asia-northeast1
          TF_VAR_project_number: ${{ secrets.PROJECT_NUMBER }}
        run: terraform plan
