name: Terraform Plan

on:
  workflow_dispatch: # 手動実行用
#  pull_request:
#    branches:
#      - main

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        env:
          TF_VAR_project_id: ${{ secrets.PROJECT_ID }}
          TF_VAR_region: asia-northeast1
        run: terraform plan
